In [1]:
import pandas as pd

In [2]:
def levenshtein(s1, s2):
    if len(s1) < len(s2):
        return levenshtein(s2, s1)

    # len(s1) >= len(s2)
    if len(s2) == 0:
        return len(s1)

    previous_row = range(len(s2) + 1)
    for i, c1 in enumerate(s1):
        current_row = [i + 1]
        for j, c2 in enumerate(s2):
            insertions = previous_row[j + 1] + 1 # j+1 instead of j since previous_row and current_row are one character longer
            deletions = current_row[j] + 1       # than s2
            substitutions = previous_row[j] + (c1 != c2)
            current_row.append(min(insertions, deletions, substitutions))
        previous_row = current_row
    
    return previous_row[-1]

In [3]:
data = pd.read_csv('20210103_hundenamen.csv')
data

                         HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND
0                            Ituma              2011               w
1         "Bo" Bendy of Treegarden              2020               m
2            "Bobby" Lord Sinclair              2009               m
3       "Buddy" Fortheringhay's J.              2011               m
4     "Fly" Showring i fly for you              2015               w
...                            ...               ...             ...
8569                     unbekannt              2010               w
8570                     unbekannt              2011               m
8571                     unbekannt              2018               m
8572                     unbekannt              2018               m
8573                     unbekannt              2017               m

[8574 rows x 3 columns]

In [4]:
names = data['HUNDENAME'].tolist()
namesun = pd.unique(names)
namesun

array(['Ituma', '"Bo" Bendy of Treegarden', '"Bobby" Lord Sinclair', ...,
       'lamba-Julia', 'Éo', 'unbekannt'], dtype=object)

In [5]:
nameslev1 = []
for ll in namesun:
    if levenshtein('Luca', ll) == 1:
        nameslev1.append(ll)
        print(ll)

Cuca
Lua
Luba
Lucas
Luce
Lucia
Lucy
Lula
Luma
Luna
Lupa
Yuca

In [6]:
nameslev1

['Cuca',
 'Lua',
 'Luba',
 'Lucas',
 'Luce',
 'Lucia',
 'Lucy',
 'Lula',
 'Luma',
 'Luna',
 'Lupa',
 'Yuca']